@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #181818;
  color: white;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  margin: 0 0 12px 0;
  font-weight: 500;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  margin: 0 0 12px 0;
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

li {
  margin: 0;
}

p {
  line-height: 1.375;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  margin-top: 0;
}

dd {
  margin-top: 0;
  margin-bottom: 0;
}